@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400&family=MuseoModerno:wght@100;200;300&family=Noto+Sans+SC:wght@300&family=Quicksand:wght@300;400&display=swap');

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    box-sizing: inherit;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: 'Quicksand', 'Helvetica Neue', 'Helvetica', 'Arial', 'Noto Sans SC', 'PingFang SC', sans-serif;
    font-size: 1em;
}

.nav-wrapper {
    position: relative;
    z-index: -1;

    margin-top: -70px;
    height: 200vh;
}
