@import url('https://fonts.loli.net/css2?family=Montserrat+Alternates:wght@200&family=MuseoModerno:wght@100;300&family=Noto+Sans+SC:wght@300&family=Noto+Serif+SC:wght@300&family=Quicksand:wght@300;400;700&display=swap');

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    box-sizing: inherit;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: 'Quicksand', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', sans-serif;
    font-size: 1em;
}

.nav-wrapper {
    position: relative;
    z-index: 0;

    margin: -71px 0 100px;
    min-height: 100vh;
}

.article-card-list-wrapper {
    padding: calc(70px + 3em) 0 0;
}
